:root {
    --primary: #9dbdc6 !important;
    --secondary: #daeaef !important;
    --tertiary: #ff3d2e !important;
    --bs-dark-rgb: 36, 51, 61;
}

.card-header {
    background: #3480b3;
    color: rgb(var(--bs-light-rgb));
}

.d-flex {
    justify-content: center;
}

.list-group li {
    position: relative;
    display: block;
    padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
    color: var(--bs-list-group-color);
    text-decoration: none;
    background-color: var(--bs-list-group-bg);
    border: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color);
}

.card-title {
    font-size: 1.7rem;
}

.card-subtitle {
    font-size: 1.2rem;
    opacity: 0.75;
}